* {
	text-shadow : 1px 1px 0 white, -1px -1px 0 white, 1px -1px white, -1px 1px white;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
.video-container {
	position: absolute;
	z-index: 1;
	width: 100% !important;
	height: 100%;
}

[id=option-container] {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;

	background: rgba(0,0,0,.5);

	text-align: center;

	padding: 20px 0;
}
[id=option-container] > * {
	display: inline-block;
	vertical-align: middle;
}

.btn-active {
	outline : orange solid 2px;
}